@model LifeAssure.Models.CustomerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="d-flex justify-content-center text-center" id="pad">
    <hr />

    <div class="card" id="cardcolor">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AgentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AgentId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>
    </div>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }, htmlAttributes: new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
    </p>
