@model LifeAssure.Models.CustomerEdit

@{
    ViewBag.Title = "Edit";
}

<h2 class="text-center" id="pad">Edit A Customer</h2>
<div class="d-flex justify-content-center text-center">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
            <div class="form-group" id="pad2">
                <div >
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Customer's Name" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="pad2">
                <div >
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Customer's Number" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="pad2">
                <div >
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Customer's Address" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="pad2">
                <div >
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
<div class="text-center" id="pad">
    @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
</div>