@model LifeAssure.Models.AgentDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Agent Details</h2>

<div>
    <h4>AgentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customers)
        </dt>
        @foreach (var customer in Model.Customers)
        {
                @customer.Name
        }

        <dt>
            @Html.DisplayNameFor(model => model.Policies)
        </dt>
        @foreach (var policy in Model.Policies)
        {
                @policy.PolicyId
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.AgentId  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
