@model LifeAssure.Models.AgentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AgentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthOfEmployment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthOfEmployment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCustomers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCustomers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPolicies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPolicies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AgentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
